<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}Saul Shanabrook{% endblock %}</title>
<body>
  <header>
    <h1>Saul Shanabrook</h1>
    <nav>
      <ul class="nav navbar-nav">
        {% if this._path == '/' %}<li>Posts</li>{%
        else %}<li><a href="{{ '/'|url }}">Posts</a></li>{% endif %}
        <li><a href="https://github.com/saulshanabrook/">Github</a></li>
        <li><a href="https://twitter.com/sshanabrook">Twitter</a></li>
        <li><a href="https://medium.com/@saulshanabrook">Medium</a> (inactive)</li>
        <li><a href="https://github.com/saulshanabrook/saulshanabrook.github.io">Source</a></li>
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
</body>
